<header>
    <div class="header_container">
        <div class="header_container_child1">
            <ul>
                <li>
                    <a routerLink="/"  href="">Food Mine!</a>
                </li>
            </ul>
        </div>

        <div class="header_container_child2">
            <ul>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</header>
