/* You can add global styles to this file, and also import other style files */
@import url(http://reset5.googlecode.com/hg/reset.min.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
}